@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins-normal';
  src: url('../fonts/Poppins-Regular.woff2');
}

:root {
  --bs-body-font-family: 'poppins-normal', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #2e2e2e;
  margin-top: auto;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  animation: fade-in 0.5s ease-in;
}
